* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif; 
}

body {
    background: linear-gradient(270deg, #87EFF6 0%, #FFFFFF 100%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;

    & .navbar ul {
        display: flex;
        gap: 50px;
        
        & .li a{
            color: black;
        }
    }
}

main {
    padding: 40px 80px;

    & .homee {
        display: flex;
        justify-content: space-between;
    }

        & .lado-esquerdo {
            display: flex;
            flex-direction: column;
            gap: 58px;

            & .content {
                display: flex;
                flex-direction: column;
                gap: 16px;

                & p:first-child {
                    color: #FF2121;
                    font-size: 24px;
                    font-weight: 600px;
                }

                & p:last-child {
                    font-size: 18px;
                }

                & h1 {
                    font-size: 40px;
                }

            }

            & .btns {
                display: flex;
            }
        }
}